.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* display: none; */
    /*Я знаю что по брифу правило должно изменять значение свойства display на block или flex.
    Чтобы закрыть попап, удаляйте у него модификатор popup_opened. 
    Но я хотел добавить плавности и спользоваль немного другие свойства, но те которые должны быть добавали и 
    закомментировал)*/
    opacity: 0;
    transform: translateY(-25.5%) scale(0);
    transition:  0.6s ease-in;
    z-index: -1;
}