.profile__user {
    margin: 0;
    box-sizing: border-box;
    max-width: 336px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

@media screen and (max-width: 655px) {
.profile__user {
    justify-content: center;
    }
}