.elements__name-place {
    margin: 25px auto 29px 21px;
    font-family: 'Inter', 'Arial', 'Helvetica', 'sans-serif';
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    width: 216px;
    font-style: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}